@media all and (min-width: 320px) and (max-width: 480px) {

.footer-Uniarts{
    color: white;
    background-color: #404040;
    height: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

}