@media all and (min-width: 320px) and (max-width: 480px) {

.header-contenair { 
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-contenair {  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#E7EAEF;
    height: 2.5rem;
    width: 27%;
}

.logo-contenair p {
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #F16462;
}

}