@media all and (min-width: 320px) and (max-width: 480px) {

.header-contenair { 
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-contenair {  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#404040;
    height: 2rem;
    width: 24%;
}

.logo-contenair p {
    font-family: 'Teko', sans-serif;
    font-size: 2em;
    color: #F16462;
}

}