.logo-contenair {  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#404040;
    height: 2rem;
    width: 24%;
}

.logo-contenair p {
    font-family: 'Teko', sans-serif;
    font-size: 2em;
    color: #F16462;
}

.menu-contenair {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burgerMenu {
    width: 100%;
    height: 4rem;
}

.navbar{
    width: 100%;
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    list-style: none;
}

.navbar li {
    background-color: #404040;
    text-decoration: none;
}

a:link {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    background-color: transparent;
    text-decoration: none
}