
@media all and (min-width: 320px) and (max-width: 480px) {
.home-uniarts{
    background-color: teal;
    height: 10rem;
    width: 100%;
}

.link-register{
    background-color: tomato;
    height: 10rem;
    width: 5rem;
}

.button-link-register{
    background-color: yellow;
    height: 5rem;
    width: 5rem;
}

}