@media all and (min-width: 320px) and (max-width: 480px) {

.menu-contenair {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #404040;
}

.burgerMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
    height: 4rem;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #E7EAEF;
    margin: 6px 0;
    transition: 0.4s;
  }

.navbar{
    width: 100%;
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    list-style: none;
}

.navbar li {
    background-color: #404040;
    text-decoration: none;
}

.nav-links {
    color: white;
}

.nav-links:link {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    padding: 0.4rem;
    background-color: transparent;
    text-decoration: none
}

}