@media all and (min-width: 320px) and (max-width: 480px) {
  /* Back-Office : gestion de projets */
  .office-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 37rem;
  }

  .office-project-title {
    font-family: "Teko", sans-serif;
    font-size: 1.5em;
    text-decoration: underline;
    text-decoration-color: #f16462;
  }

  .form-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-input {
    width: 72%;
  }

  .button-save-project {
    font-family: "Source Sans Pro", sans-serif;
    width: 56%;
    background-color: #404040;
    color: #e7eaef;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* Liste des projets */

  .cover-contain {
    width: 26rem;
    height: 14rem;
  }

  .cover-contain img {
    height: 100%;
    width: 100%;
  }

  .list-projects {
    background-color: rgba(64, 64, 64, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 16rem;
    width: 26rem;
    overflow: scroll;
  }

  /*  modal material ui */

  .modal-button {
    width: 100%;
    background-color: #f16462;
    height: 90%;
    border-radius: 1%;
  }

  .modal-button h1 {
    width: 11rem;
    position: relative;
    margin: 0;
    top: 1px;
    left: 68px;
    font-family: "Teko", sans-serif;
    font-size: 1.3em;
    text-align: center;
  }

  .modal-button img {
    height: 100%;
    width: 100%;
  }

  .close-modal-project {
    background-color: none;
    background-color: transparent;
    height: 5rem;
    width: 5rem;
    object-fit: contain;
    position: absolute;
    bottom: 33rem;
    left: 22rem;
  }

  .close-modal-project img {
    height: 100%;
    width: 100%;
  }

  /* Les projets: */

  .projects-modal {
    position: fixed;
    top: 26px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .projects-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #e7eaef;
  }

  .button-container {
    position: relative;
    bottom: 5rem;
    left: 4rem;
    width: 66%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .update-project {
    background-color: #e7eaef;
    color: #404040;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 9.5rem;
    left: 15rem;
    font-size: 0.9em;
    width: 5rem;
    height: 3.5rem;
  }

  .delete-project {
    background-color: #e7eaef;
    color: #f16462;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 9rem;
    left: 15rem;
    font-size: 0.9em;
    width: 5rem;
    height: 3.5rem;
  }

  .delete-close-modal {
    font-family: "Source Sans Pro", sans-serif;
    width: 23%;
    background-color: #404040;
    color: #e7eaef;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
  }

  .validate-project {
    background-color: #e7eaef;
    color: #404040;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 28rem;
    font-size: 0.9em;
    width: 4.5rem;
    height: 3.5rem;
  }

  .validate-project img {
    height: 2rem;
    width: 2rem;
    margin-bottom: 0.1rem;
  }

  .update-project img {
    height: 2rem;
    width: 2rem;
    margin-bottom: 0.1rem;
  }

  .delete-project img {
    height: 2rem;
    width: 2rem;
    margin-bottom: 0.1rem;
  }
}
