@media all and (min-width: 320px) and (max-width: 480px) {


.tabs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabsLink{
    font-family: 'Source Sans Pro', sans-serif;
    width: 36%;
    background-color: #404040;
    color: #E7EAEF;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.officeUser{
    width: 100%;
    height: 92rem;
    border: 1px solid tomato;
}

.office-profile{
    width: 100%;
    height:22rem;
    background-color: palegreen;
}

.office-projects{
    width: 100%;
    height: 34rem;
    background-color: paleturquoise;
}

.office-links{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 37rem;
    background-color: palevioletred;
}

.form-avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar-contain{
    object-fit: contain;
    width: 6rem;
    height: 6rem;
}

.avatar{
    width: 100%;
    height: 100%;
}

.form-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-input{
    width: 72%;
}

.cover-contain{
    width: 26rem;
    height: 14rem;
}

.cover-contain img{
    height: 100%;
    width: 100%;
}

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-projects{   
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 16rem;
    overflow: scroll;
}

.modal-button{
    width: 70%;
    height: 70%;
}

.modal-button h1{
    position: relative;
    margin: 0;
    top: 107px;
    left: 68px;
    font-family: 'Teko', sans-serif;
    font-size: 1em;
}

.modal-button img{
    height: 100%;
    width: 100%;
}

.projects-modal{
    position: fixed;
    top: 26px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects-content{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #E7EAEF;
}

.button-container{
    position: relative;
    bottom: 5rem;
    left: 4rem;
    width: 66%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.update-project{
    background-color: #ffffff;
    color: #404040;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 12.5rem;
    left: 16rem;
    font-size: 0.70em;
    width: 5rem;
    height: 3.5rem;
    
}


.delete-project{
    background-color: #ffffff;
    color: #404040;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 12rem;
    left: 16rem;
    font-size: 0.70em;
    width: 5rem;
    height: 3.5rem;
   
}

.validate-project{
    background-color: #ffffff;
    color: #404040;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 28rem;
    font-size: 0.70em;
    width: 4.5rem;
    height: 3.5rem;
}

.validate-project img{
    height: 2rem;
    width: 2rem;
    margin-bottom: 0.10rem
}

.update-project img{
    height: 2rem;
    width: 2rem;
    margin-bottom: 0.10rem
}

.delete-project img{
    height: 2rem;
    width: 2rem;
    margin-bottom: 0.10rem
}

.form-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
}


