@media all and (min-width: 320px) and (max-width: 480px) {

.random-reviews {
    background-color: #E7EAEF;
    height: 28rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.random-articles {
    /* background articles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('/img/cover-test.jpg');
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;

    /* positions */
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 1rem;
    color: white;
    height: 7rem;
    width: 22rem;
}

.random-articles h2,p {
    margin: 0;
    font-size: 0.8em;
}

.random-articles h2 {
    font-family: 'Teko', sans-serif;
    font-size: 1.3em;
}

.random-articles button {
    background-color: #404040;
    border: none;
    color: #E7EAEF;
}

}
