@media all and (min-width: 320px) and (max-width: 480px) {
  .section-register {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 52rem;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .presentation-uniarts {
    background-color: #e7eaef;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    height: 11rem;
    width: 100%;
  }

  .presentation-uniarts h1 {
    margin: 0;
    font-family: "Teko", sans-serif;
  }

  .presentation-uniarts p {
    margin: auto 2rem;
    font-family: "Muli", sans-serif;
  }

  .form-register {
    height: 41rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #d2d5da;
  }

  input[type="text"],
  [type="email"],
  [type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #e7eaef;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input:focus {
    border: 1px solid #f16462;
  }

  button {
    font-family: "Source Sans Pro", sans-serif;
    width: 53%;
    background-color: #404040;
    color: #e7eaef;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .form-register h2 {
    margin: 0;
    font-family: "Teko", sans-serif;
  }

  .form-register p {
    text-align: center;
    font-family: "Muli", sans-serif;
  }

  .form-register label {
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
