// colors
$onyx: rgb(64, 64, 64);
$light-gray: rgb(231, 234, 239);
$orange-red: rgb(241, 100, 98);
$alternate-gray: rgb(210, 213, 218);

// font
$font-teko: ("Teko", sans-serif);
$font-muli: ("Muli", sans-serif);
$font-sans-source-pro: ("Source Sans Pro", sans-serif);

.artist-list {
  width: 95%;
}

.artist-list-title {
  padding-top: 1rem;
  padding-left: 2rem;
  height: 2rem;
  width: 100%;
  border-bottom: 1px solid #404040;
  border-spacing: 1rem;
  h2 {
    color: $onyx;
    font-family: $font-teko;
    margin: 0;
  }
}
