// colors
$onyx: rgb(64, 64, 64);
$light-gray: rgb(231, 234, 239);
$orange-red: rgb(241, 100, 98);
$alternate-gray: rgb(210, 213, 218);

// font
$font-teko: ("Teko", sans-serif);
$font-muli: ("Muli", sans-serif);
$font-sans-source-pro: ("Source Sans Pro", sans-serif);

@media all and (min-width: 320px) and (max-width: 480px) {
  .office-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 37rem;
  }
  .office-project-title {
    font-family: $font-teko;
    font-size: 1.5em;
    text-decoration: underline;
    text-decoration-color: $orange-red;
  }
  .form-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-input {
    width: 72%;
    width: 72%;
  }
  .button-save-project {
    font-family: $font-sans-source-pro;
    width: 56%;
    background-color: $onyx;
    color: #e7eaef;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .list-projects {
    background-color: rgba(64, 64, 64, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 16rem;
    width: 26rem;
    overflow: scroll;
  }
  .modal-button {
    width: 100%;
    background-color: $orange-red;
    height: 90%;
    border-radius: 1%;
    h1 {
      width: 11rem;
      position: relative;
      margin: 0;
      top: 1px;
      left: 68px;
      font-family: $font-teko;
      font-size: 1.3em;
      text-align: center;
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
  .projects-modal {
    position: fixed;
    top: 26px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cover-contain {
    width: 26rem;
    height: 14rem;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .close-modal-project {
    background-color: none;
    background-color: transparent;
    height: 5rem;
    width: 5rem;
    object-fit: contain;
    position: absolute;
    bottom: 33rem;
    left: 22rem;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .projects-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #e7eaef;
  }
  .button-container {
    position: relative;
    bottom: 5rem;
    left: 4rem;
    width: 66%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .update-project {
    background-color: $light-gray;
    color: $onyx;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 9.5rem;
    left: 15rem;
    font-size: 0.9em;
    width: 5rem;
    height: 3.5rem;
    img {
      height: 2rem;
      width: 2rem;
      margin-bottom: 0.1rem;
    }
  }
  .delete-project {
    background-color: $light-gray;
    color: $orange-red;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 9rem;
    left: 15rem;
    font-size: 0.9em;
    width: 5rem;
    height: 3.5rem;
    img {
      height: 2rem;
      width: 2rem;
      margin-bottom: 0.1rem;
    }
  }
  .delete-close-modal {
    font-family: $font-sans-source-pro;
    width: 23%;
    background-color: $onyx;
    color: $light-gray;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
  }
  .validate-project {
    background-color: $light-gray;
    color: $onyx;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 28rem;
    font-size: 0.9em;
    width: 4.5rem;
    height: 3.5rem;
    img {
      height: 2rem;
      width: 2rem;
      margin-bottom: 0.1rem;
    }
  }
}
