// colors
$onyx: rgb(64, 64, 64);
$light-gray: rgb(231, 234, 239);
$orange-red: rgb(241, 100, 98);
$alternate-gray: rgb(210, 213, 218);

// font
$font-teko: ("Teko", sans-serif);
$font-muli: ("Muli", sans-serif);
$font-sans-source-pro: ("Source Sans Pro", sans-serif);

@media all and (min-width: 320px) and (max-width: 480px) {
  .office-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60rem;
    width: 100%;
  }

  .office-title {
    padding-top: 2rem;
    padding-left: 2rem;
    height: 2rem;
    width: 100%;
    border-bottom: 1px solid #404040;
    border-spacing: 1rem;
    h2 {
      color: $onyx;
      font-family: $font-teko;
      margin: 0;
    }
  }

  .form-container {
    height: fit-content;
  }
  .form-article {
    display: none;
    &.isActive {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .input-title {
        width: 100%;
      }

      textarea {
        width: 94%;
        height: 9rem;
        padding: 1rem 1.4rem;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        resize: none;
      }

      .editor-article {
        overflow: hidden;
        height: 17rem;
        width: 23rem;
      }
    }
  }

  .buttons-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .button-article-container {
    position: absolute;
    bottom: 56.3rem;
    left: 0rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .show-article {
    margin-top: 1rem;
    margin-right: 0.8rem;
    width: 24%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 3rem;
    color: white;
    background-color: #404040;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 0.8em;
  }

  .add-image-article {
    background-color: $orange-red;
  }

  .save-article {
    background-color: $onyx;
    color: $light-gray;
  }

  .list-article-title {
    margin-top: 5rem;
    padding-left: 2rem;
    height: 2rem;
    width: 100%;
    border-bottom: 1px solid #404040;
    border-spacing: 1rem;
    h2 {
      color: $onyx;
      font-family: $font-teko;
      margin: 0;
    }
  }

  .list-article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: scroll;
    height: fit-content;
    width: 95%;
  }

  // .article-container {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  //   width: 100%;
  // }
}
